#heading {
    background-color: palevioletred;
    color: cornsilk;
    height: 50px;
    width: 330px; 
}

#content {
    background-color:lime;
    height: 150px;
    width: 200px; 
}

#winloss {
    background-color: chartreuse;
    height: 100px;
    width: 200px; 
}

.gembuttons {
    height: 50x;
    width: 50px; 
        
}
#userScore, #totalScore {
    background-color: aqua;
    height: 100px;
    width: 200px; 
}
#randomNumber {
    background-color:chocolate;
    height: 100px;
    width: 175px; 
}
